/* viewport width 1024 이하 */

@media (max-width: 768px) {
    .projects {
    }
  
    .projects__container {
    }
    .projects .projects__title {
    }
  
    .projects .projects__list {
    }
  
    .projects .project--list {
      width: 50%;
    }
  
    .project .project__title {
      width: 100px;
      height: 25px;
      border-radius: 15px 0 15px 0;
      font-size: 1rem;
    }
    .project img {
        width: 150px;
        height: 200px;
    }
  
    .project .project__uselang {
    }
  }
  