.about {

}

.about__container {
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about__title {
    font-weight: bold;
    width: 200px;
    height: 70px;
    background: rgba(223, 230, 233,1.0);
    border-radius: 30px 0 30px 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
}

.about__info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__info .info__avatar img{
    width: 500px;
    border-radius: 500px;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
    margin-right: 50px;
}

.info__info {
    align-self: flex-start;
    padding: 30px 0 0 0;
}
.info__info .info--list {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: rgba(99, 110, 114,1.0);
}

.info__info .info__list--1 {
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info__info .github {
    margin-bottom: 15px;
}
.info__info .info__list--1 .github__mark {
    width: 35px;
    height: 35px;
    background-image: url('https://raw.githubusercontent.com/won-developer/img/master/github.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 13px;
    font-size: 1.5rem;
}
.info__info .info__list--1 .blog__mark {
    width: 35px;
    height: 35px;
    background-image: url('https://raw.githubusercontent.com/won-developer/img/master/velog.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 13px;
    font-size: 1.5rem;
}

.info__info .info--list.info__list--2 {
    margin-bottom: 30px;
}

.info__info .info__list--5 {
    margin-top: 50px;
    color: rgba(45, 52, 54,.5);
    font-size: 1.3rem;
    line-height: 2rem;
}